/* Import font */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,200;0,400;0,500;0,700;1,300;1,400&family=Rubik+Pixels&display=swap");

/* Clearing CSS*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
}

body {
  background-color: var(--bg-color-nav);
  font-family: "Noto Sans", sans-serif, Helvetica;
}

:root {
  --bg-color-nav: #222;
  --text-href-color: #fdfcfcef;
  --text-color-brand: rgb(208, 197, 192);
  --color-bg: rgba(6, 187, 6, 0.938);
  --color-hover-menu: rgb(138, 231, 115);
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-nav);
  position: fixed;
  padding: 1.2rem 3%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}

.navbar .brand {
  justify-content: start;
  align-items: center;
  font-family: "Rubik Pixels";
  font-weight: 400;
  font-size: 3.9em;
}

.navbar .brand a {
  display: inline-block;
  text-decoration: none;
  color: var(--text-color-brand);
  margin: 0 10px;
}

.navbar .nav-list {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 0 10rem;
}

.navbar .nav-list a {
  display: inline-block;
  font-size: 1.6rem;
  color: var(--text-href-color);
  padding: 0 1.4rem;
  transition: all 0.5s ease;
  text-decoration: none;
}

.navbar .nav-list a:hover {
  color: var(--color-hover-menu);
}

.navbar .nav-list .bg-active {
  color: var(--color-hover-menu) !important;
}
.navbar #input-api {
  display: inline-block;
  margin: 2rem 0.12rem;
  padding: 0.4rem 0.4rem;
  border-radius: 10px;
}

.navbar .button-search {
  display: inline-block;
  margin: 2rem 0.12rem;
  padding: 0.4rem 0.4rem;
  border-radius: 20%;
  font-weight: 500;
  background-color: var(--bg-color-nav);
  color: var(--color-hover-menu);
  border: var(--color-hover-menu) 2px solid;
}

.navbar .sideBar {
  justify-content: center;
  align-items: center;
  font-size: 2.1rem;
  padding: 0 15px;
}

.navbar .sideBar a {
  margin: 0 2.2rem;
  color: var(--text-href-color);
  transition: all 1.1s;
}

.navbar .sideBar a:hover {
  color: var(--color-hover-menu);
}

#asideBar {
  display: none;
}

/* Media Query */

/* Media Laptop */
@media only screen and (max-width: 1366px) {
  html {
    font-size: 70%;
  }
}

/* Media Tablet */
@media only screen and (max-width: 768px) {
  html {
    font-size: 60%;
  }

  #asideBar {
    display: inline-block;
  }

  .navbar .nav-list {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: var(--bg-color-nav);
    width: 30rem;
    height: 100vh;
    transition: all 1.1s;
  }

  .navbar .nav-list.active {
    right: 0;
    margin: 0 0;
  }

  .navbar .nav-list a {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 5.4rem 20px;
    padding: 1.2rem 20px;
  }
}

/* Media Mobile Phone */
@media only screen and (max-width: 576px) {
  html {
    font-size: 54%;
  }
}

/* Akhir baris Navbar */

/* Bagian isi halaman logo */
.first-page {
  background-image: url("../IMG/Background-page\ logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  position: relative;
}

.first-page .Caption {
  display: flex;
  flex-direction: column;
  padding: 0 2.5rem;
}

.first-page .Caption h1 {
  font-size: 3rem;
  padding: 0 1.5rem;
  font-weight: 700;
}

.first-page .contains {
  display: flex;
  flex-direction: column;
  padding: 2rem 2.5rem;
}

.first-page .contains p {
  font-size: 2.2rem;
  font-weight: 400;
  font-style: italic;
}

.first-page .contains button {
  width: 12rem;
  background-color: var(--color-bg);
  padding: 1rem;
  font-size: 2.1rem;
  font-weight: 700;
  border: 0;
  border-radius: 10px;
  color: var(--text-href-color);
  box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.34);
  -webkit-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 10px 10px 12px 0px rgba(0, 0, 0, 0.34);
  transition: all 1.1s;
}

.first-page .contains button:hover {
  background-color: var(--bg-color-nav);
}

/* Mobile screen */
@media screen and (max-width: 576px) {
  .first-page {
    min-height: 60vh;
    display: flex;
    align-items: center;
    width: 100%;
  }

  .first-page .Caption {
    padding: 14rem 1.4rem;
    backdrop-filter: blur(9.9px);
    flex-wrap: wrap;
  }

  .first-page .Caption h1 {
    font-size: 250%;
    padding: 0 2.2rem;
    align-items: center;
  }

  .first-page .contains p {
    font-weight: 500;
    line-height: 28px;
  }
  .dual-page {
    width: 70%;
  }

  .dual-page h2 {
    font-size: 2rem;
  }

  .dual-page .card-group .card {
    margin: 0 2.2rem;
    padding: 0;
    flex-wrap: wrap;
  }
  .arrowtop {
    margin: 2em 2em;
  }
}

/* Akhir Media Mobile */

/* Membuat beberapa game explore minecraft */

.dual-page {
  display: block;
  background-color: var(--text-href-color);
  margin: 12.12em 6.6em;
  position: relative;
}

.dual-page h2 {
  font-size: 2.6rem;
  text-align: center;
  padding: 0 0.2rem;
}

.dual-page .card-group {
  margin: 1.8rem 2rem;
}

.dual-page .card-group .card {
  margin: 0 1.2rem;
  border: none;
}

.dual-page .card-group .card img:hover {
  transform: scale(1.1);
  transition: all ease 1.1s;
}

.dual-page .card-group .card .card-body {
  margin: 1.2rem;
}

.dual-page .card-group .card .card-body p {
  font-size: 1.4em;
}

.dual-page .card-group .card .card-body h5 {
  font-size: 1.4em;
  font-weight: 700;
  margin: 1.4px;
}

/* Section Info */
.info {
  display: block;
  background-color: var(--text-href-color);
  color: var(--bg-color-nav);
}
.info .contain1 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin: auto 30em;
}

.info #img1 {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  margin-left: 20em;
  flex-direction: row;
}

.info #img2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: auto 4em;
  flex-direction: row;
}

.info img {
  width: 40%;
}

/* Section fitur untuk kembali kebagian awal */

.arrowtop {
  display: flex;
  justify-content: flex-end;
}

#Top {
  background-color: var(--text-href-color);
  border: solid 1px var(--bg-color-nav);
  border-radius: 10%;
  color: var(--bg-color-nav);
  margin: 5% 6%;
  padding: 6px 6px;
  font-size: 5em;
  cursor: pointer;
  transition: all ease 0.4s;
}

#Top:hover {
  background-color: var(--color-hover-menu);
  color: var(--text-href-color);
}

/* Akhir baris isi halaman logo */
